.body{
    padding: 2%;
    display: flex;
    flex-direction: column;
}
.body__header{
    display: flex;
    justify-content: space-between;
}
.body__name > p{
    font-size: 24px;
    font-weight: 400;
}
.body__delivery{
    display: flex;
}
.bar{
    border-bottom: 1px solid lightgray;
    width: 8rem;
    margin: auto;
    bottom: -20px;
}
.body__icon{
    border: 1px solid #199f73e0;
    border-radius: 50%;
    padding: 10px;
    margin: 0 5px;
    background: #f9f9f9;
}
.body__title{
    margin: 1% 0 3% 0;
}
.body__buttongroup{
    display: flex;
    margin-bottom: 8%;
}
.body__buttongroup > button{
    padding: 12px 30px;
    border-radius: 30px;
    border: 1px solid lightgray;
    background: #f9f9f9;
    margin: 0 20px 0 0;
}
.body__shipInfo{
    display: flex;
    margin-top: 4%;
}
.body__shipinginfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.body__shipinginfo1, .body__shipinginfo2 {
    display: flex;
    flex-direction: column;
}

.body__forminput{
    padding: 10px 9px;
    border-radius: 30px;
    border: 1px solid lightgray;
    margin: 20px 20px 0 0;
}

.body__paymentmode, .body__deliveryMethod, .body__payment, .body__cart, .body__products {
    display: flex;
    flex-direction: column;
}
.body__payment,.body__cart{
  margin-left: 3%;
}
.body__paymentmode{
    margin-bottom: 5%;
}
.body__paymentmoderow1,.body__paymentmoderow2, .body__deliveryMethodrow1 ,.body__deliveryMethodrow2{
    display: flex;
} 
.body__paymentBut{
    display: flex;
    margin: 5px 5px 5px 0px;
    padding: 8px 10px;
    border-radius: 25px;
    border:1px solid gray;
    background: #fff;
}
.body__paymentBut > p{
    margin-left: 10px;
    margin-top: 5px;
    font-size: 14px;
}
.body__paymentImg{
    width: 80px;
    height: 25px;
    object-fit: contain;
    justify-items: center;
    margin: auto;
}


.body__item{
    display: flex;
    margin: 2% 0 4% 0;
}
.body__itemImage{
    margin: auto;
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 50%;
    background-color: lightgrey;
}
.body__itemDetail{
    margin: auto;
    margin-left: 10px;
}
.body__itemName, .body__itemCatagory{
    font-size: 14px;
    font-weight: 400;
}
.body__itemId{
    padding-top: 10px;
    font-size: 12px;
    color: lightgrey;
}
.body__itemCost{
    float: right;
    margin: auto;
    margin-left: 100px;
}
.body__totalCost{
    display: flex ;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: #f9f9f9;
    margin: 0 10px;
}

.body__offer{
    margin: 13%;
    display: flex;
    text-align: center;
    padding: 20px;
}
.body__offer > p{
    font-size: 15px;
    font-weight: 100;
    float: right;
}
.deliverIcon{
    margin: auto;
}

@media screen and (max-width:800px) {
    .body__shipInfo{
        display: flex;
        flex-direction: column;
    }
}